<div class="tree-container">
  <h2>Explorateur de fichiers</h2>

  <div class="tree-root">
    <ng-container
      *ngTemplateOutlet="nodeTpl; context: { $implicit: nodes,level: 1 }"
    ></ng-container>
  </div>

  <ng-template #nodeTpl let-list  let-level="level">
    @for (node of list; track node.name;let i = $index, total = $count) {

    <!-- Utilisation de @let pour simplifier le code ARIA -->
    @let isFolder = node.type === 'folder'; @let isSelected = node.selected;

    <div class="node-group">
      <div        
        class="tree-node"
        [id]="node.name"
        (keydown)="handleKeyDown($event, node)"
        (click)="focusNode(node)"  
      >
        <div class="node-content">
          <!-- État Checkbox -->
          <span class="cb-visual">
            {{ node.checked === true ? '✓' : (node.checked === 'mixed' ? '-' :
            '') }}
          </span>

          <!-- État Dossier -->
          <span class="icon">
            {{ isFolder ? (node.expanded ? '📂' : '📁') : '📄' }}
          </span>

          <span class="label">{{ node.name }}</span>
        </div>
      </div>

      @if (isFolder && node.expanded && node.children) {
      <div class="node-children">
        <ng-container
          *ngTemplateOutlet="nodeTpl; context: { $implicit: node.children,level: level + 1  }"
        ></ng-container>
      </div>
      }
    </div>
    }
  </ng-template>
</div>
